 <div class="user-details">
  <h1> Sobre mim </h1>
  <p>Graduando em Sistemas de informação com previsão para 2020.
    Experiencia em desenvolvimento de sistemas web, suporte ao usuário, servidores linux e desenvolvimento mobile. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Ferrametas e Tecnologias</h2>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-ubuntu-plain colored"></i>
    </div>
</div>
